[submodule "3rdparty/nholmann"]
	path = 3rdparty/nholmann
	url = git@github.com:nlohmann/json.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
